<h1>Listing currentpicks</h1>

<table>
  <tr>
    <th>Fileselected</th>
    <th>Proplemselected</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @currentpicks.each do |currentpick| %>
  <tr>
    <td><%= currentpick.fileselected %></td>
    <td><%= currentpick.proplemselected %></td>
    <td><%= link_to 'Show', currentpick %></td>
    <td><%= link_to 'Edit', edit_currentpick_path(currentpick) %></td>
    <td><%= link_to 'Destroy', currentpick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Currentpick', new_currentpick_path %>
